# Ignore everything by default
**

# Allow build context essentials
!Dockerfile
!package.json
!pnpm-lock.yaml
!apps/api/package.json
!libs/prisma/package.json

# Allow prebuilt artifacts
!apps/api/dist/**
!dist/libs/**

# Keep docker files out
docker-compose*.yml
.git
.gitignore
node_modules
# allow dist/libs but ignore other dist artifacts
dist/*
!dist/libs/**
!.gitkeep
