node_modules/
dist/
.env
*.log
.prisma/
prisma/dev.db
.turbo/
.pnpm-store/
.next/
out/
test-results/
.lighthouseci/
*.tsbuildinfo
apps/web/.next/
apps/admin/.next/
public/models/
apps/web/public/models/
models/
coverage/
*.lcov
